body {
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

@keyframes salto {
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

#personagem {
    background-image: url(bb.png);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    height: 80px;
    position: absolute;
    margin-left: 600px;
    margin-top: 77vh;
    width: 80px;
}

#plataforma {
    background-color: black;
    height: 50px;
    position: absolute;
    margin-top: 90vh;
    /*margin: auto;*/
    width: 99%;
}